## Shubham Jadhav                                     
## ROLL: 282027



1.Perform the following operations using R/Python on suitable data sets: 
a) read data from different formats (like csv, xls) 
b) Find Shape of Data 
c) Find Missing Values 
d) Find data type of each column 
e) Finding out Zero's 
f) Indexing and selecting data, sort data,  
g) Describe attributes of data, checking data types of each column,  
h) counting unique values of data, format of each column, converting variable data type (e.g. 
from long to short, vice versa)

## Importing required libraries

In [ ]:
# Importing required libraries
import pandas as pd
import numpy as np

## A) Reading data from a CSV file

In [67]:
# A) Reading data from a CSV file 
data = pd.read_csv("D:\\ML Lab Class\\wine-clustering - wine-clustering.csv")

## Displaying the first few rows of the dataset

In [69]:
# Displaying the first few rows of the dataset
print("Dataset Preview:")
print(data.head())

Dataset Preview:
   Alcohol  Malic_Acid   Ash  Ash_Alcanity  Magnesium  Total_Phenols  \
0    14.23        1.71  2.43          15.6        127           2.80
1    13.20        1.78  2.14          11.2        100           2.65
2    13.16        2.36  2.67          18.6        101           2.80
3    14.37        1.95  2.50          16.8        113           3.85
4    13.24        2.59  2.87          21.0        118           2.80

   Flavanoids  Nonflavanoid_Phenols  Proanthocyanins  Color_Intensity   Hue  \
0        3.06                  0.28             2.29             5.64  1.04
1        2.76                  0.26             1.28             4.38  1.05
2        3.24                  0.30             2.81             5.68  1.03
3        3.49                  0.24             2.18             7.80  0.86
4        2.69                  0.39             1.82             4.32  1.04

   OD280  Proline
0   3.92     1065
1   3.40     1050
2   3.17     1185
3   3.45     1480
4   2.93      735

## B) Finding the shape of the data

In [71]:
# B) Finding the shape of the data
print("Shape of the Data (Rows, Columns):")
print(data.shape)

Shape of the Data (Rows, Columns):
(178, 13)

## C) Checking for missing values in the dataset

In [73]:
# C) Checking for missing values in the dataset
print("Missing Values in Each Column:")
print(data.isnull().sum())

Missing Values in Each Column:
Alcohol                 0
Malic_Acid              0
Ash                     0
Ash_Alcanity            0
Magnesium               0
Total_Phenols           0
Flavanoids              0
Nonflavanoid_Phenols    0
Proanthocyanins         0
Color_Intensity         0
Hue                     0
OD280                   0
Proline                 0
dtype: int64

## D) Displaying data types of each column

In [75]:
# D) Displaying data types of each column
print("Data Types of Each Column:")
print(data.dtypes)

Data Types of Each Column:
Alcohol                 float64
Malic_Acid              float64
Ash                     float64
Ash_Alcanity            float64
Magnesium                 int64
Total_Phenols           float64
Flavanoids              float64
Nonflavanoid_Phenols    float64
Proanthocyanins         float64
Color_Intensity         float64
Hue                     float64
OD280                   float64
Proline                   int64
dtype: object

## E) Finding the count of zeros in each numeric column

In [77]:
# E) Finding the count of zeros in each numeric column
numeric_columns = data.select_dtypes(include=[np.number])  
zeros_count = (numeric_columns == 0).sum()

print("Number of Zeros in Each Numeric Column:")
print(zeros_count)

Number of Zeros in Each Numeric Column:
Alcohol                 0
Malic_Acid              0
Ash                     0
Ash_Alcanity            0
Magnesium               0
Total_Phenols           0
Flavanoids              0
Nonflavanoid_Phenols    0
Proanthocyanins         0
Color_Intensity         0
Hue                     0
OD280                   0
Proline                 0
dtype: int64

## F) Indexing and selecting specific columns

In [ ]:
# F) Indexing and selecting specific columns
selected_columns = data[['Alcohol', 'Ash']]  
print("Selected Columns:")
print(selected_columns.head())

## Sorting data by a specific column

In [81]:
# Sorting data by a specific column
sorted_data = data.sort_values(by='Alcohol')  # Replace 'Column1' with the column you want to sort by
print("Data Sorted by 'Alcohol':")
print(sorted_data.head())

Data Sorted by 'Alcohol':
     Alcohol  Malic_Acid   Ash  Ash_Alcanity  Magnesium  Total_Phenols  \
115    11.03        1.51  2.20          21.5         85           2.46
113    11.41        0.74  2.50          21.0         88           2.48
120    11.45        2.40  2.42          20.0         96           2.90
110    11.46        3.74  1.82          19.5        107           3.18
121    11.56        2.05  3.23          28.5        119           3.18

     Flavanoids  Nonflavanoid_Phenols  Proanthocyanins  Color_Intensity   Hue  \
115        2.17                  0.52             2.01             1.90  1.71
113        2.01                  0.42             1.44             3.08  1.10
120        2.79                  0.32             1.83             3.25  0.80
110        2.58                  0.24             3.58             2.90  0.75
121        5.08                  0.47             1.87             6.00  0.93

     OD280  Proline
115   2.87      407
113   2.31      434
120   3.39      625
110   2.81      562
121   3.69      465

## G) Describing the data attributes

In [ ]:
# G) Describing the data attributes
print("Statistical Description of Numeric Data:")
print(data.describe())

# Checking data types again for confirmation
print("\nData Types of Each Column:")
print(data.dtypes)

## H) Counting unique values in each column

In [ ]:
# H) Counting unique values in each column
print("Count of Unique Values in Each Column:")
print(data.nunique())

# Displaying the format (data types) of each column in the dataset
print("\nFormat of columns : ")
print(data.dtypes)

# Converting variable data type (example: from float to int)
data['Magnesium'] = data['Magnesium'].astype(int)  # Replace 'NumericColumn' with an actual numeric column name
print("\nData Types After Conversion:")
print(data.dtypes)